/.bam
/bam
/build
/config.lua
/objs
/other/*/include
/other/*/lib
/other/*/linux
/other/*/mac
/other/*/windows
__pycache__/
*.dll
*.dmg
*.pyc
*.pyo
scripts/work/
/SDL.dll
/freetype.dll
/autoexec.cfg
other/freetype
other/sdl
Info.plist

crapnet*
fake_server*
map_resave*
map_version*
mastersrv*
packetgen*
teeworlds*
!other/bash-completion/teeworlds
!teeworlds.manifest
!teeworlds.rc
teeworlds_srv*
!other/bash-completion/teeworlds_srv
testrunner
versionsrv*

# IDE project files
.cproject
.idea
.project
.settings
.vs
.vscode
*.vcxproj
*.vcxproj.filters
compile_commands.json
cscope.files
cscope.out
out
tags

# CMake
data
generated

.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles
CMakeSettings*
CPackConfig.cmake
CPackSourceConfig.cmake
Debug
Makefile
RelWithDebInfo
Release
_CPack_Packages/
build.ninja
cmake_install.cmake
googletest-build
googletest-download
googletest-src
install_manifest.txt
pack_*/
rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-bd2e3259864c762e2871.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-9c5ef85b2ad84f76d7ec.json
/cmake-build-debug/.cmake/api/v1/reply/index-2022-06-12T12-41-05-0581.json
/cmake-build-debug/.cmake/api/v1/reply/target-everything-Debug-3dda249d5a7e34a463c3.json
/cmake-build-debug/.cmake/api/v1/reply/target-game-shared-Debug-251aa5ba829ff3d6484d.json
/cmake-build-debug/.cmake/api/v1/reply/target-package_tar_gz-Debug-a2725ebe8ce0af517bcd.json
/cmake-build-debug/.cmake/api/v1/reply/target-package_tar_xz-Debug-c232efc4995b4498fa1d.json
/cmake-build-debug/.cmake/api/v1/reply/target-package_zip-Debug-f8e72dd7483290dc0cd7.json
/cmake-build-debug/.cmake/api/v1/reply/target-teeworlds-Debug-c0a9a94ba3ade58160a2.json
/cmake-build-debug/.cmake/api/v1/reply/target-teeworlds_srv-Debug-f86ee508aa31664be2b5.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-763090708707927cf6c7.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-33c5ebe6c9e410745e0b.json
/cmake-build-debug/.cmake/api/v1/reply/index-2022-06-13T17-11-49-0591.json
/cmake-build-debug/.cmake/api/v1/reply/target-crapnet-Debug-62ecc1e503cb43c94f1e.json
/cmake-build-debug/.cmake/api/v1/reply/target-engine-shared-Debug-fca18a32bdcc8b4f7d03.json
/cmake-build-debug/.cmake/api/v1/reply/target-everything-Debug-b01beac1e664448c89b4.json
/cmake-build-debug/.cmake/api/v1/reply/target-fake_server-Debug-ac2ad3963305590d417b.json
/cmake-build-debug/.cmake/api/v1/reply/target-game-shared-Debug-3b680509ac16c4c92d35.json
/cmake-build-debug/.cmake/api/v1/reply/target-json-Debug-f9a30b35b19892095e7a.json
/cmake-build-debug/.cmake/api/v1/reply/target-map_resave-Debug-2597fac40c47385339c6.json
/cmake-build-debug/.cmake/api/v1/reply/target-map_version-Debug-e8a2bc9516e9a6c806aa.json
/cmake-build-debug/.cmake/api/v1/reply/target-mastersrv-Debug-629ca1f5bb328e8dd04c.json
/cmake-build-debug/.cmake/api/v1/reply/target-md5-Debug-8d3ef272cf6fb9163a47.json
/cmake-build-debug/.cmake/api/v1/reply/target-package_all-Debug-3be6ad4e1c0211029a72.json
/cmake-build-debug/.cmake/api/v1/reply/target-package_default-Debug-f54e3f2da2c9f2658477.json
/cmake-build-debug/.cmake/api/v1/reply/target-package_tar_gz-Debug-4cadc33cfa37bdb36b10.json
/cmake-build-debug/.cmake/api/v1/reply/target-package_tar_xz-Debug-e05a451b46ee20c13af7.json
/cmake-build-debug/.cmake/api/v1/reply/target-package_zip-Debug-a4ba1a03a97ff226f4b0.json
/cmake-build-debug/.cmake/api/v1/reply/target-packetgen-Debug-2ae539e8dc20ff6f0bfe.json
/cmake-build-debug/.cmake/api/v1/reply/target-teeworlds-Debug-db2623671020116a6639.json
/cmake-build-debug/.cmake/api/v1/reply/target-teeworlds_srv-Debug-ae498495ed690ff3751f.json
/cmake-build-debug/.cmake/api/v1/reply/target-tools-Debug-1008e14fc2fc45ebec25.json
/cmake-build-debug/.cmake/api/v1/reply/target-versionsrv-Debug-57a77a2dedea357bc068.json
